USE [master]
GO
/****** Object:  Database [TicTacToe]    Script Date: 2022/02/01 20:24:22 ******/
CREATE DATABASE [TicTacToe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicTacToe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TicTacToe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TicTacToe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TicTacToe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicTacToe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicTacToe]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 2022/02/01 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Player1Id] [int] NULL,
	[Player2Id] [int] NULL,
	[Player1Points] [int] NULL,
	[Player2Points] [int] NULL,
	[HighestRoundCompleted] [int] NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moves]    Script Date: 2022/02/01 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moves](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GamesId] [int] NULL,
	[B1] [int] NULL,
	[B2] [int] NULL,
	[B3] [int] NULL,
	[B4] [int] NULL,
	[B5] [int] NULL,
	[B6] [int] NULL,
	[B7] [int] NULL,
	[B8] [int] NULL,
	[B9] [int] NULL,
 CONSTRAINT [PK_Move] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 2022/02/01 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[TotalPoints] [int] NULL,
 CONSTRAINT [PK_Player] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Games] ADD  CONSTRAINT [DF_Game_Player1Points]  DEFAULT ((0)) FOR [Player1Points]
GO
ALTER TABLE [dbo].[Games] ADD  CONSTRAINT [DF_Game_Player2Points]  DEFAULT ((0)) FOR [Player2Points]
GO
ALTER TABLE [dbo].[Games] ADD  CONSTRAINT [DF_Game_HighestRoundCompleted]  DEFAULT ((0)) FOR [HighestRoundCompleted]
GO
ALTER TABLE [dbo].[Players] ADD  CONSTRAINT [DF_Player_TotalPoints]  DEFAULT ((0)) FOR [TotalPoints]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Game_Player] FOREIGN KEY([Player1Id])
REFERENCES [dbo].[Players] ([Id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Game_Player]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Game_Player1] FOREIGN KEY([Player2Id])
REFERENCES [dbo].[Players] ([Id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Game_Player1]
GO
ALTER TABLE [dbo].[Moves]  WITH CHECK ADD  CONSTRAINT [FK_Move_Games] FOREIGN KEY([GamesId])
REFERENCES [dbo].[Games] ([Id])
GO
ALTER TABLE [dbo].[Moves] CHECK CONSTRAINT [FK_Move_Games]
GO
USE [master]
GO
