@model TicTacToe.Models.GamePlayerViewModel

@{
    ViewBag.Title = "Game Over";
}



<div class="container text-center pt-5">

    <h2 class="blue">Game Over</h2>

    <div class="row">

        @{
            bool draw = false;
            string winner = Model.Player1.Name;

            int player1Points = Model.Game.Player1Points;
            int player2Points = Model.Game.Player2Points;

            if (player2Points > player1Points)
            {
                winner = Model.Player2.Name;
            }
            else if (player1Points == player2Points)
            {
                draw = true;
            }

        }

        @if (draw)
        {
            <h1 class="dark-pink mb-5">It's a Draw!</h1>
        }
        else
        {
            <h1 class="dark-pink mb-5">Winner is <span class="fw-bold fst-italic">@winner!</span></h1>
        }

        <hr />

        <h3>Player Points</h3>


        <p>@Model.Player1.Name = @Model.Game.Player1Points</p>
        <p>@Model.Player2.Name = @Model.Game.Player2Points</p>

        <div class="form-group">
            <a class="btn" href="/Game/Start">Start New Game</a>
        </div>

    </div>
</div>



@section scripts
{
    <script>
        $(document).ready(function () {

            setActiveNavItem('nav-start');

        });
    </script>
    

}