@model TicTacToe.Models.BoardViewModel

<h1 class="blue">Round @Model.Round</h1>

<h3 class="dark-pink">Turn: Player <span id="playerNumber">1</span> - <span id="playerName">@Model.PlayerName</span></h3>

<input type="hidden" id="currentRound" value="@Model.Round" />

<div class="row pt-5">

    <div class="col-4 square border-right border-bottom" data-id="1">
        <div></div>
    </div>
    <div class="col-4 square border-right border-bottom" data-id="2">
        <div></div>
    </div>
    <div class="col-4 square border-bottom" data-id="3">
        <div></div>
    </div>

    <div class="col-4 square border-right border-bottom" data-id="4">
        <div></div>
    </div>
    <div class="col-4 square border-right border-bottom" data-id="5">
        <div></div>
    </div>
    <div class="col-4 square border-bottom" data-id="6">
        <div></div>
    </div>

    <div class="col-4 square border-right" data-id="7">
        <div></div>
    </div>
    <div class="col-4 square border-right" data-id="8">
        <div></div>
    </div>
    <div class="col-4 square" data-id="9">
        <div></div>
    </div>

</div>