/* header */
.nav-link.active {
    color: #52607E !important;
    font-weight: bold;
}

.navbar
{
    border-bottom:1px solid #52607E;
}

.navbar-brand img
{
    width:50px;
}

/* containers */
.body-content {
    min-height: calc(100vh - 80px);
}


/* board */
.square
{
    height:150px;
    position:relative;
    cursor:pointer;
}

.square > div
{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    font-size:5rem;
}

.border-top
{
    border-top:3px solid #000; 
}

.border-right {
    border-right: 3px solid #000;
}

.border-bottom {
    border-bottom: 3px solid #000 !important;
}

.border-left {
    border-left: 3px solid #000;
}

.play-container
{
    max-width:600px;
}


/* colours */
.back-pink
{
    background-color:#EDE6F5;
}


/* buttons */
.btn {
    border: 1px solid #52607E;
    background-color: #52607E;
    border-radius: 0;
    color: #fff;
}

.btn:hover
{
    background-color:#fff;
    color:#52607E;
    
}

.btn.secondary
{
    border:1px solid #F05F90;
}


/* landing */
.left-side .nav-item
{
    margin-bottom:30px;
}

.right-side 
{
    position:relative;
    height:calc(100vh - 78px);
}

.right-side img
{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    width:100%;
    max-width:500px;
}

@media (max-width:767px)
{
    .right-side
    {
        height:auto;
    }

    .right-side img
    {
        position:relative;
        left:auto;
        top:auto;
        transform:translate(0, 0);
    }
}