<input type="hidden" id="currentRound" value="@ViewBag.CurrentRound" />

<div class="row">

    <div class="col-4 square border-right border-bottom">
        <div></div>
    </div>
    <div class="col-4 square border-right border-bottom">
        <div></div>
    </div>
    <div class="col-4 square border-bottom">
        <div></div>
    </div>

    <div class="col-4 square border-right border-bottom">
        <div></div>
    </div>
    <div class="col-4 square border-right border-bottom">
        <div></div>
    </div>
    <div class="col-4 square border-bottom">
        <div></div>
    </div>

    <div class="col-4 square border-right">
        <div></div>
    </div>
    <div class="col-4 square border-right">
        <div></div>
    </div>
    <div class="col-4 square">
        <div></div>
    </div>

</div>