@{
    ViewBag.Title = "Home Page";
}

<div class="">

    <div class="container py-5">

        <div class="row">
            <div class="col-md-3 p-4 button-container">

                <a href="/Game/Start">
                    <div class="gradient">
                        <div>
                            Play Now
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 p-4 button-container">

                <a href="/Game/Load">
                    <div class="gradient">
                        <div>
                            Load Game
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 p-4 button-container">

                <a href="/Results/Leaderboard">
                    <div class="gradient">
                        <div>
                            Leaderboard
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 p-4 button-container">

                <a href="/Results/GameHistory">
                    <div class="gradient">
                        <div>
                            Game History
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>